.container{
    width: 1200px;
    margin: 50px auto;
}

.container .course-tab{
    width: 1200px;
    height: 52px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box;
}

.container .course-tab .course-item{
    float: left;
    height: 50px;
    margin-right: 40px;
    line-height: 50px;
}
.container .course-tab .course-item .course-item-link{
    font-size: 14px;
}
.container .course-tab .course-item .course-item-link.lk-current{
    color: #167ed9;
}




.container .list-wrapper .course-card-list{
    width: 1225px;
    margin-left: -17px;
}
.container .list-wrapper .card-item{
    float: left;
    width: 236px;
    height: 221px;
    margin: 0 0 20px 9px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.container .list-wrapper .card-item:hover{
    border: 1px solid transparent;
}

.container .list-wrapper .card-lk{
    display: block;
    height: 124px;
}

.container .list-wrapper .card-item .item-status{
    position: absolute;
    width: 220px;
    height: 24px;
    background-color: rgba(0, 0 , 0, .6);
    margin-top: -24px;
    padding-left: 5px;
    line-height: 21px;
    box-sizing: border-box;
}

.container .list-wrapper .card-item .item-status-step{
    font-size: 21px;
}

.container .list-wrapper .card-item .item-tt{
    margin-bottom: 8px;
}

.container .list-wrapper .card-item .tt-lk{
    font-size: 14px;
    color: #333;
}

.container .list-wrapper .card-item .item-line{
    height: 24px;
    line-height: 22px;
}

.container .list-wrapper .card-item .line-cell.item-price{
    color: #e85308;
    margin-left: 0;
}