
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(90deg, #7d5fff,#7158e2);
    margin: 0;     /* 为了去除初始时的拉伸框 */

}

.search {
    position: relative;
    height: 50px;
}

input {
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border: 0;
    transition: transform 0.3s ease;
}

.btn:focus,.input:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}