.container{
    padding: 15px;
    line-height: 25px;
}

.round{
    display: block;
    position: fixed;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    opacity: .6;
}
.s-top-btn{
    display: none;
    bottom: 110px;
    background: url(../img/rocket.jpg) no-repeat 0 0/100% 100%;
}

.play-btn{
    bottom: 25px;
    background: url(../img/play.jpg) no-repeat 0 0/80% 80%;
}

.round:hover{
    opacity: 1;
}